@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    background: #0a0a0f;
    color: #f4ece2;
  }
  body {
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'cv11', 'ss01';
  }
}
